{% extends '../_base.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/patient_style.css' %}">
{% endblock %}

{% block content %}
<div class="profile-container">
    <div class="profile-header">
        <div class="profile-image">
                <img src="{{ user_profile.profile_image.url }}" alt="{{ user_profile.name }}">  
        </div>
        <div class="profile-info">
            <h2>{{ user_profile.name }}</h2>
            <p><strong>Email:</strong> {{ user_profile.email }}</p>
            <p><strong>Phone: </strong>{{ user_profile.phone_number }}</p>
            {% if user_profile.is_patient %}
                <p><strong>Type:</strong> Patient</p>
            {% elif user_profile.is_doctor %}
                <p><strong>Type:</strong> Doctor</p>
                <p><strong>Bio:</strong> <br>{{ user_profile.bio|linebreaksbr }}</p>
            {% elif user_profile.is_administrator %}
                <p><strong>Type: </strong>Administrator</p>
            {% endif %}
            <a href="{% url 'profile_edit' %}" class="btn btn-primary">Edit Profile</a>
        </div>
    </div>
</div>
{% endblock %}