{% extends '../_base.html' %}

{% block title %}Ads{% endblock %}

{% block content %}
    <h2 class="my-4">Ads Management</h2>

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h4>Ads</h4>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                       {% for ad in ads %}
    <li class="list-group-item">
         <h2>{{ ad.title }}</h2>
            <p>{{ ad.content }}</p>
            {% if ad.image %}
                <img src="{{ ad.image.url }}" alt="{{ ad.title }}">
            {% endif %}
        <a href="{% url 'edit_doctor' doctor.pk %}" class="btn btn-sm btn-primary float-end ml-2">Edit</a>
    </li>
{% empty %}
    <li>No ads available</li>
{% endfor %}


                    </ul>
                    <a href="{% url 'add_doctor' %}" class="btn btn-primary mt-3">Add New ad</a>
                </div>
            </div>
        </div>
{% endblock %}