{% extends '../homepages/doctor_home.html' %}

{% load static %}
{% block title %}Add Medical Advice{% endblock %}
{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/doctor_style.css' %}">
{% endblock %}

{% block content %}
  <div class="container my-5 add-advice-container">
    <h2 class="text-center mb-4 add-advice-title">Add New Medical Advice</h2>

    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card shadow-lg">
          <div class="card-body">
            <form method="post" enctype="multipart/form-data" class="add-advice-form">
              {% csrf_token %}

              <div class="form-group">
                <label for="{{ form.title.id_for_label }}">Title</label>
                <input type="text" name="title" id="{{ form.title.id_for_label }}" class="form-control" value="{{ form.title.value }}">
              </div>

              <div class="form-group">
                <label for="{{ form.advice.id_for_label }}">Advice</label>
                <textarea name="advice" id="{{ form.advice.id_for_label }}" class="form-control">{{ form.advice.value }}</textarea>
              </div>

              <div class="form-group">
                <label for="{{ form.image.id_for_label }}">Image</label>
                <input type="file" name="image" id="{{ form.image.id_for_label }}" class="form-control">
              </div>

              <div class="form-group mt-3">
                <button type="submit" class="btn btn-submit">Save Advice</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

