{% extends '../_base.html' %}
{% block title %}Log Out{% endblock %}
{% block content %}
    <div class="container">
        <div class="logout-form">
            <h1>Log Out</h1>
            <p>Are you sure you want to log out?</p>
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                <div class="form-group">
                    {{ form }}
                </div>
                <button class="btn btn-danger" type="submit">Log Out</button>
            </form>
        </div>
    </div>
{% endblock content %}