asgiref==3.8.1
dj-database-url==2.3.0
Django==5.1.4
django-allauth==65.3.0
django-crispy-forms==2.3
django-phonenumber-field==8.0.0
gunicorn==23.0.0
packaging==24.2
phonenumbers==8.13.52
pillow==11.0.0
pyasynchat==1.0.4
pyasyncore==1.0.4
pyftpdlib==2.0.1
setuptools==75.6.0
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2024.2
wheel==0.45.1
python-dotenv==1.0.1
whitenoise 6.8.2
