{% extends '../_base.html' %}
{% load static %}
{% block title %}Upload Medical Files{% endblock %}
{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/patient_style.css' %}">
{% endblock %}
{% block hero %}
<div class="hero">
    <h1>Upload Medical Files</h1>
    <p>Upload photos, videos, CT scans, or other medical documents for your records.</p>
    <a href="{% url 'custom_login_redirect' %}" class="cta-button cta-doctor">Dashboard</a>
</div>
{% endblock %}

{% block content %}
<div class="upload-form">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="button">Upload</button>
    </form>
</div>
{% endblock %}