{% extends '../_base.html' %}
{% load static %}
{% block title %}My Medical Files{% endblock %}
{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/patient_style.css' %}">
{% endblock %}
{% block hero %}
<div class="hero">
    <h1>My Medical Files</h1>
    <p>View and manage your uploaded medical documents.</p>
    <a href="{% url 'change_plan' %}" class="cta-button cta-patient">Change Plan</a> <!-- Link to change plan page -->
    <a href="{% url 'custom_login_redirect' %}" class="cta-button cta-doctor">Dashboard</a>
</div>
{% endblock %}

{% block content %}
<div class="files-list">
    {% if files %}
    <ul>
        {% for file in files %}
        <li class="file-item">
            <div class="file-info">
                <a href="{{ file.file.url }}" target="_blank" class="file-link">{{ file.file.name }}</a>
                <p class="file-meta">
                    <span class="file-type">{{ file.file_type }}</span>
                    <span class="upload-date">Uploaded: {{ file.uploaded_at|date:"Y-m-d H:i" }}</span>
                </p>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="no-files">No files uploaded yet.</p>
    {% endif %}
</div>
{% endblock %}