{% extends "../_base.html" %}
{% block title %} Prescribe {% endblock title %}
{% block content %}
    <div class="container">
        <div class="registration-form">
            <h2>Prescribe medication for patient</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>          
        </div>
    </div>
{% endblock content %}