{% extends '../homepages/doctor_home.html' %}
{% load static %}
{% block title %}Medical Files{% endblock %}
{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/doctor_style.css' %}">
{% endblock %}

{% block content %}
<div class="doctor-files-container">
    {% if files %}
    <ul class="doctor-files-list">
        {% for file in files %}
        <li class="doctor-file-item">
            <a href="{{ file.file.url }}" target="_blank" class="doctor-file-name">{{ file.file.name }}</a>
            <div class="doctor-file-details">
                <span class="doctor-file-type">{{ file.file_type }}</span>
                <span class="doctor-file-uploaded">Uploaded: {{ file.uploaded_at|date:"Y-m-d H:i" }}</span>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="doctor-no-files">No files uploaded yet.</p>
    {% endif %}
</div>
{% endblock %}