{% extends '../homepages/doctor_home.html' %}
{% load static %}
{% block title %}Delete Prescription{% endblock %}
{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/doctor_style.css' %}">
{% endblock %}
{% block content %} 
<div class="delete-prescription-container">
    <h1 class="delete-prescription-title">Delete Prescription</h1>
    <form action="" method="post" class="delete-prescription-form">
        {% csrf_token %}
        <p class="delete-prescription-confirmation-text">Are you sure you want to delete "<span class="delete-prescription-name">{{ prescription }}</span>"?</p>
        <div class="delete-prescription-actions">
            <input type="submit" value="Confirm" class="delete-prescription-btn-confirm">
         
        </div>
    </form>
</div>
{% endblock content %}