{% extends '_base.html' %}

{% block title %}Home - Clinic Management System{% endblock %}



{% block content %}
<section class="features">
  <div class="container">
    <h2>Our Services</h2>
    <div class="feature-cards">
      <!-- Service Cards -->
      <div class="card">
        <h3>Appointments</h3>
        <p>Book your appointments easily online.</p>
      </div>
      <div class="card">
        <h3>Medical Advice</h3>
        <p>Get trusted medical advice from professionals.</p>
      </div>
      <div class="card">
        <h3>Doctor Consultation</h3>
        <p>Consult with doctors remotely or in person.</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}