{% extends "./_base.html" %} 

{% block title %}Registration Pending{% endblock %}

{% block content %}
<h1>Registration Pending</h1>

<p>Thank you for registering. Your account is currently under review by an administrator. You will be notified once your account is approved.</p>

<p>In the meantime, feel free to explore our website, but you will not be able to access restricted areas until your account is activated.</p>



<style>
    .user-info {
        border: 1px solid #ddd;
        padding: 1em;
        margin-top: 2em;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    h1 {
        color: #333;
        margin-bottom: 1em;
    }

    p {
        font-size: 1.2em;
        color: #666;
    }
</style>
{% endblock %}